*{
    margin: 0;
    padding: 0;
}
.products{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
    justify-content: center;

}
.product {
    width: 20%;
    background-color: aliceblue;
   transition: .5s;
}

.product:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0, 0,.6);
}